Change values via packing unpacking

In [1]:
a=10
b=20
print('a=',a)
print('b=',b)
a,b=b,a
print('a=',a)
print('b=',b)

a= 10
b= 20
a= 20
b= 10

#Too many value for packing: Number of values to unpacked must be equal to numbers and inverse

In [2]:
a,b = 10,1,2

ValueError: too many values to unpack (expected 2)

In [4]:
a,*b=1,2,3,4,5
print(b)

[2, 3, 4, 5]

Mark *:

In [5]:
a,*b,c=1,2,3,4,5
print(c)

5

"*" In use

In [7]:
def func_with_params(*parameters):
    print('parameters:', parameters, type(parameters))

func_with_params(2.3)

parameters: (2.3,) <class 'tuple'>

In [11]:
def func_with_params(first, second,*parameters):
    print('first parameters:', first, type(first))
    print('parameters:', parameters, type(parameters)) #if start with * parameters could be empty
    
func_with_params(2,3,4)

first parameters: 2 <class 'int'>
parameters: (4,) <class 'tuple'>

** Matrk:

In [14]:
def func_with_params(first, second,*args,**kargs): # ** dictionary
    print('first parameters:', first, type(first))
    print('args:', args, type(args))
    print('kargs:', kargs, type(kargs))
    print(kargs['dubai'])
    
func_with_params(2,3,4, generic='hello', dubai = 30)

first parameters: 2 <class 'int'>
args: (4,) <class 'tuple'>
kargs: {'generic': 'hello', 'dubai': 30} <class 'dict'>
30

In [15]:
def func_with_params(first, second,*a,**k): # ** dictionary, the order is count we canb't put first ** and then *
    print('first parameters:', first, type(first))
    print('args:', a, type(a))
    print('kargs:', k, type(k))
    print(k['dubai'])
    
func_with_params(2,3,4, generic='hello', dubai = 30)

first parameters: 2 <class 'int'>
args: (4,) <class 'tuple'>
kargs: {'generic': 'hello', 'dubai': 30} <class 'dict'>
30

In [18]:
def func_with_params(first, second,**k): # ** dictionary, the order is count we canb't put first ** and then *
    print('first parameters:', first, type(first))
    #print('args:', a, type(a))
    print('kargs:', k, type(k))
    print(k['dubai'])
    
func_with_params(2,3, generic='hello', dubai = 30)

first parameters: 2 <class 'int'>
kargs: {'generic': 'hello', 'dubai': 30} <class 'dict'>
30