In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

If there is no support of notebook:

In [5]:
a_list = [[11,22,33],[44,55,66]]
df = pd.DataFrame(a_list)# in () could be anything which is iterable
print(df)

    0   1   2
0  11  22  33
1  44  55  66

In [7]:
a_list = [[11,22,33],[44,55,66]]
df = pd.DataFrame(a_list) # in () could be anything which is iterable
print('type (df)',type (df),'df.types:',df.dtypes)

type (df) <class 'pandas.core.frame.DataFrame'> df.types: 0    int64
1    int64
2    int64
dtype: object

In [12]:
a_list = [["11","hello",22,33],[44,55,66]]
df = pd.DataFrame(a_list)# in () could be anything which is iterable
print('type (df)',type (df),'df.types:',df.dtypes)

type (df) <class 'pandas.core.frame.DataFrame'> df.types: 0     object
1     object
2      int64
3    float64
dtype: object

In [13]:
a_list = [[11,22,33],[44,55,66]]
df = pd.DataFrame(a_list, index =['age', 'height']) #data type is set
df

         0   1   2
age     11  22  33
height  44  55  66

Something similar but dictionary

In [14]:
a_dict = {'age':[11,22,33],'height':[44,55,66]}
df = pd.DataFrame(a_dict) #data type is dictionary
df

   age  height
0   11      44
1   22      55
2   33      66

In [15]:
type(df['height'])

pandas.core.series.Series

In [16]:
df['height'][1]

np.int64(55)

In [17]:
a_dict = {'age':[11,22,33,88,99],'height':[44,55,66]} #it will not work without giving None in height
df = pd.DataFrame(a_dict) #data type is dictionary
df

ValueError: All arrays must be of the same length

In [18]:
a_dict = {'age':[11,22,33,88,99],'height':[44,55,66, None,None]} #it will work with giving None in height
df = pd.DataFrame(a_dict) #data type is dictionary
df

   age  height
0   11    44.0
1   22    55.0
2   33    66.0
3   88     NaN
4   99     NaN