In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("exemple.csv")
df

    id      country           team  trophies
0    0      England      Liverpool         6
1    1        Spain      Barcelona         5
2    2      England     Man United         3
3    3        Italy          Inter         3
4    4      England        Chelsea         2
5    5      England        Chelsea         2
6    6      England   Nottm Forest         2
7    7     Portugal        Benfica         2
8    8        Italy       Juventus         2
9    9     Portugal       FC Porto         2
10  10      England       Man City         1
11  11      Germany       Dortmund         1
12  12  Netherlands      Feyenoord         1
13  13       France      Marseille         1
14  14      England    Aston Villa         1
15  15      Germany        Hamburg         1
16  16       Serbia  Crvena zvezda         1
17  17      Romania           FCSB         1
18  18  Netherlands            PSV         1
19  19     Scotland         Celtic         1